<% content_for :head do %>
<%= stylesheet_link_tag    'letters', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<p id="notice"><%= notice %></p>


<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
    <h1>Te Reo Māori Alphabet</h1>
    </div>
  </div>


  <ul>
    <% @letters.each do |letter| %>
    <li>
      <tr>
        <td><a href="<%= letter_path(letter) %>"><%= letter.name %></a></td>
        <td><%= letter.sound %></td>
      </tr>
    </li>
    <% end %>

  </ul>

</div>


<!-- <%= link_to 'New Letter', new_letter_path %> -->
